---
---


body {
	margin: 0px;
	background: #aaa;
	color: #333;
	width: 100%;
}

p {
	font-size: 16px;
	line-height: 1.6em;
}

ul li {
	font-size: 16px;
	line-height: 1.6em;
}

#pageWrapper {
	margin: 12px;
	background: #fff;
	min-height: 800px;
	overflow: auto;
}

#wrapper {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	overflow: auto;
}

/* Header */

header {
	max-width: 1000px;
	overflow: auto;
	margin: 1em 0 0 0;
	position: relative;
}

.headerBorder {
	border-bottom: 1px solid #aaa;
	padding-bottom: 2px;
}

/* Commenting this out for now. Implement the border as a top-border on the hero unit so when that we don't have one, we don't show the line.*/
.identitySection {
	width: 100%;
/*	border-bottom: 1px solid #aaa;*/
}

.stationary {
	display: inline-block;
	padding: 20px 0;
	text-align: center;
}

.identity {
	width: auto;
	display: block;
}

.logo {
	width: 80px;
	height: auto;
}

.title-intro {
	margin: 8px 0;
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 18px;
}

.titleBlock {
	display: block;
	vertical-align: top;
	margin: 0 0 0 1em;
}

.title {
	margin: 8px 0;
	font-size: 28px;
	line-height: 32px;
	font-family: 'Arvo', serif;
}

/* Navigation */

.nav-list {
    border: 1px solid #aaa;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-list li {
	background-image: none;
	list-style: none;
	display: inline-block;
	width: 100%;
}

.nav-list a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	font-family: serif;
	color: #333;
	font-style: italic;
}
/* Hero */

.hero {
	text-align: center;
	margin: 1em 0 4em 0;
}

.heroBorder {
	width: 100%;
	padding-top: 2em;
	border-top: 1px solid #aaa;
}

.headlineIntro {
	font-family: serif;
	font-style: italic;
	padding: 1em 0 0;
	color: #aaa;
}

.headline {
	font-family: "Libre Baskerville", serif;
	font-style: italic;
	letter-spacing: .02em;
	line-height: 1.6em;
}

/* Sections */

.bodySection {
	margin: 0 0 6em 0;
	padding: 0 0 2em 0;
	border-bottom: 1px solid #aaa;
}



@media (min-width: 960px) {
	.nav-list li {
		display: inline;
		width: auto;
	}
	.stationary {
		text-align: left;
	}
	.identity {
		display: inline-block;
	}
	.titleBlock {
		display: inline-block;
	}
}