body {
	margin: 0px;
	background: #efefef;
	color: #333;
	width: 100%;
}

#pageWrapper {
	margin: 12px;
	background: #fff;
	padding: 0 40px;
	min-height: 800px;
	overflow: auto;
}

#wrapper {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	overflow: auto;
}

header {
	max-width: 1000px;
	overflow: auto;
	padding-bottom: 10px;
	border-bottom: 3px solid #e6e6e6;
	margin: 1em 0 0 0;
	position: relative;
}

.stationary {
	display: inline-block;
	padding: 20px 0;
	width: 100%;
}

.identity {
	width: auto;
	display: inline-block;
}

.logo {
	width: 80px;
	height: auto;
}

.title-intro {
	margin: 8px 0;
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 18px;
}

.title-block {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 1em;
}

.title {
	margin: 8px 0;
	font-size: 28px;
	line-height: 32px;
	font-family: 'Arvo', serif;
}

.hero {
	text-align: center;
	margin: 1em 0 0 0;
}

.headline {
	font-family: "Libre Baskerville", serif;
	font-style: italic;
	letter-spacing: .08em;
	padding: 1em 0;
}

@media (min-width: 960px) {}