<!DOCTYPE html>
<html>
	<head>
	    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
	    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	    <meta charset="utf-8">
	    <!-- C U S T O M   S T Y L E S -->
	    <link rel="stylesheet" href="{{site.baseurl}}/public/css/main.css" />
	    <!-- F O N T S -->
	    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Lora:400,700,400italic,700italic|Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="pageWrapper">
			<div id="wrapper">
				<main>
					{{ content }}
				</main>
			</div>
		</div>
	</body>
</html>